# Local .terraform directories and downloaded providers
**/.terraform/*
.terraform/

# .tfstate files (CRITICAL SECURITY RISK)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which contain sensitive data
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# SSH Keys (Fallback protection)
*.pem
*.pub
localflow-key